<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>   
    <!-- Diable cache for Chrome -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />    
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1> 
        <hr/>
        <input type="text" :value="classDisplayName">
        <input type="text" v-model="classinfo.classid">
        <ul v-for="(item,n) in classinfo.trainees">
            <li>{{ item.empid+"_"+item.userid }}</li>
        </ul>        
    </div>

    <!--include js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="../js/simple.js"></script>
</body>    
